@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap');
@font-face {
  font-family: 'Jost';
  src: url('https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap');
  font-weight: 400;
}
  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    color: white;
    grid-auto-rows: minmax(100px, auto);
    background-color: red;
    grid-row: 1 ;
    font-family: 'Jost';
  }
  .section-1 {
    grid-column: 1 / 3;
    grid-row: 2;
    color: white;
    background-color: black;
    font-family: 'Jost';
    
  }
  .section-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color:grey;
    font-family: 'Jost';
  }

.section-3 {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
  background-color: gray;
  font-family: 'Jost';
}
  .footer {
    grid-column: 3;
    grid-row: 3;
    color: white;
    background-color:red;
    font-family: 'Jost';
  }
  @media (min-width: 1600px) {
    header > nav > ul {
      display: flex;
    }
    header > nav > ul > li {
      padding: 2rem;
    }
    section > ul {
      display: grid;
      grid-template-columns: 80% 80%;
      grid-template-rows: 25rem 58rem;
    }
    h3 {
      font-size: 3.5rem;
      margin-bottom: 3rem;
    }
    img {
      max-width: 40rem;
    }
    div {
      max-width: 40rem;
    }
    section.gg {
      margin-bottom: 21rem;
    }
  }