@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@font-face {
  font-family: 'Black Ops One';
  src: url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
  font-weight: 400;
}

.header {background-color: black;
  color: white;
  padding: 15px;
  border: 10px red;
  grid-area: header;
  font-family: 'Black Ops One';
}
.card-1 {
grid-area: card-1;
font-size: large;
font-weight: 500;
text-align: center;
color:black;
background-color:yellow;
font-family: 'Black Ops One';
}

.card-2 {
grid-area: card-2;
font-size: large;
font-weight: 500;
text-align: center;
color: black;
background-color:red;
font-family: 'Black Ops One';
}

.footer {
font-size: 15px;
text-align: center;
color: white;
font-family: 'Black Ops One';
background-color: black;
}

.main-container {
display: grid;
margin: 1rem;
gap: 1rem;
grid-template-areas: "header header"
"card-1 card-2";
}
@media (min-width: 1600px) {
  header > nav > ul {
    display: flex;
  }
  header > nav > ul > li {
    padding: 2rem;
  }
  section > ul {
    display: grid;
    grid-template-columns: 80% 80%;
    grid-template-rows: 25rem 58rem;
  }
  h3 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
  img {
    max-width: 40rem;
  }
  div {
    max-width: 40rem;
  }
  section.gg {
    margin-bottom: 21rem;
  }
}